* {
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 5em;
  background: #e7eaf6;
  padding: 2em;
}

body {
  background: #fafafa;
}

.navigation .logo h3 {
  color: #47483e;
  font-size: 2em;
}

/* .logo-anim {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
} */

/* .logo-anim {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  } */

/* .link {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 2em;
  margin-left: 40em;



}

a {
  position: relative;
  display: inline-block;
  padding: 8px 8px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  margin-left: 30%;

}

a:hover {
  background: #03e9f4;
  color: rgb(81, 2, 2);
  border-radius: 3px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;

}

.login-btn {

  margin-right: 2em;

} */
.navigation a {
  color: black;
  text-decoration: none;
  padding: 8px 8px;

}

.navigation a:hover {
  color: #77A8A3;
}

.navigation .link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .3em;
}

.navigation .login-btn {
  padding-top: 1.3em;
}