* {
  box-sizing: border-box;
}

.main--part {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* width: 245px; */
  gap: 1.25em;
}

/* .sidebar input {
  width: 245px;
  border-radius: 2px;
  border: 2px solid silver;
}*/
/* 
.sidebar button {
  width: 200px;
  height: 2.2em;
} */