* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.main--part {
  display: flex;
}


.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 1.05em;
}

/* .sidebar input {
  width: 245px;
  border-radius: 2px;
  border: 2px solid silver;
}*/
/* 
.sidebar button {
  width: 200px;
  height: 2.2em;
} */

.main--content {
  padding: 0.5em;
}
input{
  background: transparent;
  color: #85b2a4;
}
button {
  background-color: #007169;
  height: 2em;
  border: silver;
  border-radius: 0.5em;
}

.entry {
  display: flex;
  flex-direction: column;
}
.mont{
  color:#85b2a4 ;
}